<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Знакомство с Vue.js</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <h1 class="ghostwhite">Знакомство с Vue.js</h1>
  <div class="container pt-5" id="app">

    <div class="card">
      <h2>{{ title }} (Задач: {{ countTask }})</h2>
      <div class="form-control">
        <input type="text"
         :placeholder="titleString"
         v-model="inputValue"
         @keypress.enter="addTask"
        />
        <div class="progress" :style="{width: progress + '%'}"></div>
        <small v-if="inputValue.length === inputMaxLen">Название задачи должно быть не более {{ inputMaxLen }} cимволов</small>
      </div>
      <div>
        <p>Задача: {{ ucFirst(inputValue) }}</p>
        <button class="btn" @click="addTask">Добавить</button>
      </div>
      <hr>
      <ul class="list" v-if="todoList.length !== 0">
        <li class="list-item" v-for="(task, id) in todoList">
          {{ id + 1 }}. {{ ucFirst(task) }}
          <button class="btn danger" @click="deleteTask(id)">Удалить</button>
        </li>
      </ul>
      <p class="warning" v-else>Список задач пуст</p>
    </div>

    <div class="card center">
      <h2>Cчетчик: {{ counter }}</h2>
      <div>
        <button class="btn primary" @click="counter++">+</button>
        <button class="btn danger" @click="counter--">-</button>
      </div>
    </div>

  </div>
  
  <script src="https://unpkg.com/vue@next"></script>
  <script src="app.js"></script>
</body>
</html>