<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Знакомство с Vue.js</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="container pt-5" id="app" v-cloak>
    <h1 class="ghostwhite">Знакомство с Vue.js</h1>

    <div class="card radio-app">
        <input
            type="radio"
            id="radio-app1"
            name="app"
            value="todo"
            checked
            v-model="radio"
        />
        <label for="radio-app1">Todo List</label>

        <input
            type="radio"
            id="radio-app2"
            name="app"
            value="counter"
            v-model="radio"
        />
        <label for="radio-app2">Счетчик</label>
    </div>

    <div class="card" v-show="radio == 'todo'">
      <h2>{{ title }} (Задач: {{ countTask }})</h2>
      <p class="note">Данные хранятся в памяти браузера! (LocalStorage)</p>
      <div class="form-control">
        <input type="text"
         :placeholder="titleString"
         v-model="inputValue"
         @keypress.enter="addTask"
        />
        <div class="progress" :style="{width: progress + '%'}"></div>
        <small v-if="inputValue.length === inputMaxLen">Название задачи должно быть не более {{ inputMaxLen }} cимволов</small>
      </div>
      <div>
        <p>Задача: {{ ucFirst(inputValue) }}</p>
        <button class="btn" @click="addTask">Добавить</button>
      </div>
      <hr>
      <ul class="list" v-if="todoList.length">
        <li class="list-item" v-for="(task, id) in todoList">
          {{ id + 1 }}. {{ ucFirst(task) }}
          <div>
            <button class="btn" @click="upTask(id)" :disabled="id == 0">Вверх</button>
            <button class="btn" @click="downTask(id)" :disabled="id == (todoList.length - 1)">Вниз</button>
            <button class="btn danger" @click="deleteTask(id)">Удалить</button>
          </div>
        </li>
      </ul>
      <p class="warning" v-else>Список задач пуст</p>
    </div>

    <div class="card center" v-show="radio == 'counter'">
      <h2>Cчетчик: {{ counter }}</h2>
      <div>
        <button class="btn primary" @click="counter++">+</button>
        <button class="btn danger" @click="counter--">-</button>
      </div>
    </div>

  </div>
  
  <script src="https://unpkg.com/vue@next"></script>
  <script src="app.js"></script>
</body>
</html>